body {
    display: flex;
    flex-direction: column;
    outline: solid red 5px;
    min-height: 100vh;
    justify-content: center;
    align-items: center;


}

.calculator-display {
    display: flex;
    padding: 5px;
    outline: solid black 2px;
    background-color: grey;
    width: 150px;
    height: 150px;
    word-break: break-all;
    text-align: right;
    flex-direction: row-reverse;

}

.display-text {
    height: 100px;
    outline: solid blue 5px;
    flex-basis: 150px;


}


.calculator-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline: solid black 2px;
    padding: 10px;

}

.calculator-row {
    display: flex;
    padding: 2px;
}

#row-1 {
    margin-top: 10px;
}
